<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordem de serviço</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
    
</head>
<body>
    <div class="container">
    <form class="mt-2 row g-3" id="frmOS">
        <!-- Buscar OS -->
          <div class="col-md-3">
            <label for="inputNumeroOS">N°OS</label>
            <input type="number" class="form-control" id="inputNumeroOS" spellcheck="false" disabled
                 maxlength="30">
        </div>
        
        
        <!--DATA-->
        <div class="col-md-3">
            <label for="inputdataClient">DATA</label>
            <input type="date"  class="form-control" id="inputdataClient" spellcheck="false" disabled maxlength="30" >
        </div>
        <!--CLiente-->
        <div class="col-md-5">
            <label for="inputNameClient">Buscar OS</label>
            <input type="text"  class="form-control" id="inputOSClient" spellcheck="false" placeholder="Numero do quadro da Bicicleta" maxlength="30">
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-primary" id="btnRead2" onclick="BuscarOs()">Buscar</button>
        </div>
        <!--NOME-->
        <div class="col-md-4">
            <label for="inputNomeClient">Nome</label>
            <input type="text"  class="form-control" id="inputNomeClient" spellcheck="false" disabled maxlength="30">
        </div>
        <!--CPF-->
        <div class="col-md-4">
            <label for="inputCPFClient">CPF</label>
            <input type="text"  class="form-control" id="inputCPFClient" spellcheck="false" disabled maxlength="30">
        </div>
        <div class="col-md-4">
            <label for="inputtelClient">Telefone</label>
            <input type="text"  class="form-control" id="inputtelClient" spellcheck="false"  disabled maxlength="30">
        </div>
         
        
        
        <hr class="mt-4 border border-primary border -1">
        <!-- STATUS-->
        <div class="col-md-2">
            <label for="maintenance-type" class="form-label">Status</label>
            
            <select id="maintenance-type" name="maintenance-type" class="form-select">
                <option value="" disabled selected></option>
                <option value="aberta">Aberta</option>
                <option value="Andamento">Andamento</option>
                <option value="Concluida">Concluida</option>
                <option value="Cancelada">Cancelada</option>
            </select>
        </div>

        <!--Funcionario-->
        <div class="col-md-3">
            <label for="inputNameFuncionario" class="form-label">Funcionario</label>
            <input type="text" class="form-control" id="inputNameFuncionario" spellcheck="false" required maxlength="30">
        </div>
        
        <!--Bicicleta-->
        <div class="col-md-2">
            <label for="inputBIKEClient" class="form-label">Bicicleta/Marca</label>
            <input type="text" class="form-control" id="inputBIKEClient" spellcheck="false" required maxlength="30">
        </div>
        <!--Numero de Serie-->
        <div class="col-md-3">
            <label for="inputNUMClient" class="form-label">Número do quadro</label>
            <input type="text" class="form-control" id="inputNUMClient" spellcheck="false" required maxlength="30">
        </div>
        <!--COR-->
        <div class="col-md-2">
            <label for="color" class="form-label">Cor</label>
            <!-- Select com as opções de cores -->
            <select id="color" name="color" class="form-select">
                <option value="" disabled selected></option>
                <option value="red" style="background-color: red;">Vermelho</option>
                <option value="green" style="background-color: green;">Verde</option>
                <option value="blue" style="background-color: blue;">Azul</option>
                <option value="yellow" style="background-color: yellow;">Amarelo</option>
                <option value="pink" style="background-color: pink;">Rosa</option>
                <option value="cyan" style="background-color: cyan;">Ciano</option>
                <option value="purple" style="background-color: purple;">Roxo</option>
                <option value="orange" style="background-color: orange;">Laranja</option>
                <option value="brown" style="background-color: brown;">Marrom</option>
                <option value="black" style="background-color: black; color: white;">Preto</option>
                <option value="white" style="background-color: white;">Branco</option>
            </select>
        </div>
        <!-- Tipo de manutenção-->
        <div class="col-md-3">
            <label for="maintenance-typeT" class="form-label">Tipo de Manutenção</label>
            
            <select id="maintenance-typeT" name="maintenance-type" class="form-select">
                <option value="" disabled selected></option>
                <option value="Preventiva">Preventiva</option>
                <option value="Melhoria">Melhoria</option>
                <option value="Corretiva">Corretiva</option>
            </select>
        </div>
        <!--Previsão para ser entregue-->
    <div class="col-md-3">
        <label for="inputprevisaoClient" class="form-label">Previsão de entrega</label>
        <input type="date" class="form-control" id="inputprevisaoClient" spellcheck="false"  maxlength="100">
    </div>
    <!--OBSERVAÇÂO DO CLIENTE-->
    <div class="col-md-3">
        <label for="floatingTextareaC" class="form-label">Observação do cliente</label>
        <textarea class="form-control" placeholder="Observação" id="floatingTextareaC"></textarea>
    </div>
    <!--OBSERVAÇÂO DO Funcionario-->
    <div class="col-md-3">
        <label for="floatingTextareaF" class="form-label">Conclusão do Funcionario</label>
        <textarea class="form-control" placeholder="Conclusão" id="floatingTextareaF"></textarea>
    </div>
    <!--Peças para Trocar-->
    <div class="col-md-3">
        <label for="floatingTextareaP" class="form-label">Peças para Trocar</label>
        <textarea class="form-control" id="floatingTextareaP"></textarea>
    </div>
    <!--Acessorios-->
    <div class="col-md-3">
        <label for="floatingTextareaA" class="form-label">Acessorios</label>
        <textarea class="form-control" id="floatingTextareaA"></textarea>
    </div>
      <!--TOTAL-->
      <div class="col-md-3">
        <label for="inputtotalCliente" class="form-label">Total R$</label>
        <input type="text" class="form-control" id="inputtotalCliente" spellcheck="false"  maxlength="100">
        
    </div>
     <!-- FORMAS DE PAGAMENTO-->
     <div class="col-md-3">
        <label for="maintenance-typeD" class="form-label">Formas de pagamento</label>
        
        <select id="maintenance-typeD" name="maintenance-type" class="form-select">
            <option value="" disabled selected></option>
            <option value="pix">Pix</option>
            <option value="dinheiro">Dinheiro</option>
            <option value="debito">Débito</option>
            <option value="credito">Credito</option>
            <option value="boleto">boleto</option>
        </select>
    </div>

     <!--BOTAO-->
     <div class="mt-5">
        <button type="submit" class="btn btn-success" id="btnCreate">Adicionar</button>
        <button type="submit" class="btn btn-warning" id="btnUpdate">Editar</button>
        <button type="button"class="btn btn-danger" id="btnDelete">Excluir</button>
        <button type="button" class="btn btn-secondary" id="btnImprimir">Imprimir</button>
        <button type="reset" class="btn" id="btnReset" onclick="resetForm()"></button>

      </div>
      
    </form>
    </div>

    <script src="../public/js/bootstrap.bundle.min.js"></script>
    <script src="rendererOS.js"></script>
</body>
</html>